In [14]:
names=[]
names.append("A")
names.append("B")
names.append("C")
print(names)
names1=names
names1[0]="Z"
print(names1)
print(names)

['A', 'B', 'C']
['Z', 'B', 'C']
['Z', 'B', 'C']

In [15]:
names=[]
names.append("A")
names.append("B")
names.append("C")
print(names)
names1=names.copy()
names1[0]="Z"
print(names1)

['A', 'B', 'C']
['Z', 'B', 'C']

In [17]:
names=['A' ,'B', 'C' , 'D' ,'A' ,'A']
names.count("A")

3

In [21]:
l1= ['A', 'B' ,'C', 'A']
l2= ['x', 'y','z']
l2+l1

['x', 'y', 'z', 'A', 'B', 'C']

In [43]:
l1= ['A', 'B' ,'C','A']
l2= ['x', 'y','z']
l3=l2.extend(l1)
print(l3)
print(l1)
print(l2)

None
['A', 'B', 'C', 'A']
['x', 'y', 'z', 'A', 'B', 'C', 'A']

In [36]:
names.index("C")

2

In [37]:
print(li)
l1.index("C")

['A', 'B', 'C']

2

In [44]:
print(li)
print(l1.index("A", 1))

['A', 'B', 'C']
3

# INSERT

In [56]:
l1=[]
l1.insert(0, "A")
l1.insert(0,"B")
l1.insert(0,"C")
print(l1)
l1.insert(0,"D")
print(l1)
l1.insert(1,"E")
print(l1)
l1.insert(1,"F")
print(l1)

['C', 'B', 'A']
['D', 'C', 'B', 'A']
['D', 'E', 'C', 'B', 'A']
['D', 'F', 'E', 'C', 'B', 'A']

# POP

In [59]:
l1=["a", "b", "c"]
print(l1)
l2= l1.pop(1)#remove by index
print(l2)
print(l1)

['a', 'b', 'c']
b
['a', 'c']

In [64]:
l1=["a", "b", "c"]
print(l1)
l2= l1.remove("a")#remove by value
print(l2)
print(l1)

['a', 'b', 'c']
None
['b', 'c']

In [67]:
l1=['A','X','Y',"B","C", "D"]
l1.reverse()
print(l1)

['D', 'C', 'B', 'Y', 'X', 'A']

In [68]:
l1=['A','X','Y',"B","C", "D"]
l1.sort()#Ascending
print(l1)

['A', 'B', 'C', 'D', 'X', 'Y']

In [70]:
l1=['A','X','Y',"B","C", "D"]
l1.sort()
l1.reverse()#Descending
print(l1)

['Y', 'X', 'D', 'C', 'B', 'A']

In [72]:
l1=['A', "B", "C"]
print(l1)
l1.__add__(["D", "E"])#inline operation

['A', 'B', 'C']

['a', 'b', 'c', 'D', 'E']

In [75]:
l1=['A', "B", "C"]
print(l1)
l1.__class__

['A', 'B', 'C']

list

In [76]:
l1=['A', "B", "C"]
print(l1__contains__("A"))
print(l1.__contains__(["D", "E"]))

NameError: name 'l1__contains__' is not defined

In [ ]:
Equal

In [82]:
l1=[5,7,9,10]
l2=[3,5,6]
l3=[7,9,10]
print(l1.__ge__(l2))
print(l1.__ge__(l3))
print(l3.__ge__(l2)) #greaterthanequal

True
False
True

In [83]:
print(len(l1))

4

In [84]:
["Pakistan"]*10

['Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan']

In [1]:
#LOOP
#while
counter=1
while counter<=10:
    print("Pakistan",counter)
    counter+=1

Pakistan 1
Pakistan 2
Pakistan 3
Pakistan 4
Pakistan 5
Pakistan 6
Pakistan 7
Pakistan 8
Pakistan 9
Pakistan 10

In [ ]:
#LOOP
#while
counter=100
while counter>=90:
    print("Pakistan",counter)
    counter-=1

In [ ]:
for counter in range(1,11):
    print("Pakistan", counter)

In [ ]:
for i in range(1,11):
    print(2,"X", i, "=", 2*i)

In [3]:
#TUPLE
a=(1,2,3,4,5,6)
a.count(1)

1

In [4]:
a.index(4)

3

In [1]:
i="y"
value=[]
while(i=="y"):
    value.append(input("enter name: "))
    value.append(input("enter fathername: "))
    value.append(input("enter age:"))
    i= input("If you want to continue press Y, otherwise N")

enter name: Shafaq
enter fathername: Naeem
enter age:szdfdgfdgf
If you want to continue press Y, otherwise Ny
enter name: Shafaq
enter fathername: Naeem
enter age:xvxffc
If you want to continue press Y, otherwise NN

In [2]:
i=1000
while(i>=990):
    print(i)
    i-=1

1000
999
998
997
996
995
994
993
992
991
990

In [4]:
for i in range(1000,990, -1):
    print(i)

1000
999
998
997
996
995
994
993
992
991

In [14]:
i= input("Enter any number")
a=1;
l=1;
while(a<=int(i)):
    while(l<=10):
        print(a,"*",l,"=",a*1)
        l+=1
        a+=1

Enter any number3
1 * 1 = 1
2 * 2 = 2
3 * 3 = 3
4 * 4 = 4
5 * 5 = 5
6 * 6 = 6
7 * 7 = 7
8 * 8 = 8
9 * 9 = 9
10 * 10 = 10

In [25]:
num =1
while(num<=1000):
    if(num%5==0):
        print("Divided by 5",num)
    elif(num%7==0):
          print("Divided by 7",num)
    elif( num%11==0):
                print("Divided by 11",num)
    num+=1

Divided by 5 5
Divided by 7 7
Divided by 5 10
Divided by 11 11
Divided by 7 14
Divided by 5 15
Divided by 5 20
Divided by 7 21
Divided by 11 22
Divided by 5 25
Divided by 7 28
Divided by 5 30
Divided by 11 33
Divided by 5 35
Divided by 5 40
Divided by 7 42
Divided by 11 44
Divided by 5 45
Divided by 7 49
Divided by 5 50
Divided by 5 55
Divided by 7 56
Divided by 5 60
Divided by 7 63
Divided by 5 65
Divided by 11 66
Divided by 5 70
Divided by 5 75
Divided by 7 77
Divided by 5 80
Divided by 7 84
Divided by 5 85
Divided by 11 88
Divided by 5 90
Divided by 7 91
Divided by 5 95
Divided by 7 98
Divided by 11 99
Divided by 5 100
Divided by 5 105
Divided by 5 110
Divided by 7 112
Divided by 5 115
Divided by 7 119
Divided by 5 120
Divided by 11 121
Divided by 5 125
Divided by 7 126
Divided by 5 130
Divided by 11 132
Divided by 7 133
Divided by 5 135
Divided by 5 140
Divided by 11 143
Divided by 5 145
Divided by 7 147
Divided by 5 150
Divided by 7 154
Divided by 5 155
Divided by 5 160
Divided by 7 161
Divided by 5 165
Divided by 7 168
Divided by 5 170
Divided by 5 175
Divided by 11 176
Divided by 5 180
Divided by 7 182
Divided by 5 185
Divided by 11 187
Divided by 7 189
Divided by 5 190
Divided by 5 195
Divided by 7 196
Divided by 11 198
Divided by 5 200
Divided by 7 203
Divided by 5 205
Divided by 11 209
Divided by 5 210
Divided by 5 215
Divided by 7 217
Divided by 5 220
Divided by 7 224
Divided by 5 225
Divided by 5 230
Divided by 7 231
Divided by 5 235
Divided by 7 238
Divided by 5 240
Divided by 11 242
Divided by 5 245
Divided by 5 250
Divided by 7 252
Divided by 11 253
Divided by 5 255
Divided by 7 259
Divided by 5 260
Divided by 11 264
Divided by 5 265
Divided by 7 266
Divided by 5 270
Divided by 7 273
Divided by 5 275
Divided by 5 280
Divided by 5 285
Divided by 11 286
Divided by 7 287
Divided by 5 290
Divided by 7 294
Divided by 5 295
Divided by 11 297
Divided by 5 300
Divided by 7 301
Divided by 5 305
Divided by 7 308
Divided by 5 310
Divided by 5 315
Divided by 11 319
Divided by 5 320
Divided by 7 322
Divided by 5 325
Divided by 7 329
Divided by 5 330
Divided by 5 335
Divided by 7 336
Divided by 5 340
Divided by 11 341
Divided by 7 343
Divided by 5 345
Divided by 5 350
Divided by 11 352
Divided by 5 355
Divided by 7 357
Divided by 5 360
Divided by 11 363
Divided by 7 364
Divided by 5 365
Divided by 5 370
Divided by 7 371
Divided by 11 374
Divided by 5 375
Divided by 7 378
Divided by 5 380
Divided by 5 385
Divided by 5 390
Divided by 7 392
Divided by 5 395
Divided by 11 396
Divided by 7 399
Divided by 5 400
Divided by 5 405
Divided by 7 406
Divided by 11 407
Divided by 5 410
Divided by 7 413
Divided by 5 415
Divided by 11 418
Divided by 5 420
Divided by 5 425
Divided by 7 427
Divided by 11 429
Divided by 5 430
Divided by 7 434
Divided by 5 435
Divided by 5 440
Divided by 7 441
Divided by 5 445
Divided by 7 448
Divided by 5 450
Divided by 11 451
Divided by 5 455
Divided by 5 460
Divided by 7 462
Divided by 5 465
Divided by 7 469
Divided by 5 470
Divided by 11 473
Divided by 5 475
Divided by 7 476
Divided by 5 480
Divided by 7 483
Divided by 11 484
Divided by 5 485
Divided by 5 490
Divided by 5 495
Divided by 7 497
Divided by 5 500
Divided by 7 504
Divided by 5 505
Divided by 11 506
Divided by 5 510
Divided by 7 511
Divided by 5 515
Divided by 11 517
Divided by 7 518
Divided by 5 520
Divided by 5 525
Divided by 11 528
Divided by 5 530
Divided by 7 532
Divided by 5 535
Divided by 7 539
Divided by 5 540
Divided by 5 545
Divided by 7 546
Divided by 5 550
Divided by 7 553
Divided by 5 555
Divided by 5 560
Divided by 11 561
Divided by 5 565
Divided by 7 567
Divided by 5 570
Divided by 11 572
Divided by 7 574
Divided by 5 575
Divided by 5 580
Divided by 7 581
Divided by 11 583
Divided by 5 585
Divided by 7 588
Divided by 5 590
Divided by 11 594
Divided by 5 595
Divided by 5 600
Divided by 7 602
Divided by 5 605
Divided by 7 609
Divided by 5 610
Divided by 5 615
Divided by 7 616
Divided by 5 620
Divided by 7 623
Divided by 5 625
Divided by 11 627
Divided by 5 630
Divided by 5 635
Divided by 7 637
Divided by 11 638
Divided by 5 640
Divided by 7 644
Divided by 5 645
Divided by 11 649
Divided by 5 650
Divided by 7 651
Divided by 5 655
Divided by 7 658
Divided by 5 660
Divided by 5 665
Divided by 5 670
Divided by 11 671
Divided by 7 672
Divided by 5 675
Divided by 7 679
Divided by 5 680
Divided by 11 682
Divided by 5 685
Divided by 7 686
Divided by 5 690
Divided by 7 693
Divided by 5 695
Divided by 5 700
Divided by 11 704
Divided by 5 705
Divided by 7 707
Divided by 5 710
Divided by 7 714
Divided by 5 715
Divided by 5 720
Divided by 7 721
Divided by 5 725
Divided by 11 726
Divided by 7 728
Divided by 5 730
Divided by 5 735
Divided by 11 737
Divided by 5 740
Divided by 7 742
Divided by 5 745
Divided by 11 748
Divided by 7 749
Divided by 5 750
Divided by 5 755
Divided by 7 756
Divided by 11 759
Divided by 5 760
Divided by 7 763
Divided by 5 765
Divided by 5 770
Divided by 5 775
Divided by 7 777
Divided by 5 780
Divided by 11 781
Divided by 7 784
Divided by 5 785
Divided by 5 790
Divided by 7 791
Divided by 11 792
Divided by 5 795
Divided by 7 798
Divided by 5 800
Divided by 11 803
Divided by 5 805
Divided by 5 810
Divided by 7 812
Divided by 11 814
Divided by 5 815
Divided by 7 819
Divided by 5 820
Divided by 5 825
Divided by 7 826
Divided by 5 830
Divided by 7 833
Divided by 5 835
Divided by 11 836
Divided by 5 840
Divided by 5 845
Divided by 7 847
Divided by 5 850
Divided by 7 854
Divided by 5 855
Divided by 11 858
Divided by 5 860
Divided by 7 861
Divided by 5 865
Divided by 7 868
Divided by 11 869
Divided by 5 870
Divided by 5 875
Divided by 5 880
Divided by 7 882
Divided by 5 885
Divided by 7 889
Divided by 5 890
Divided by 11 891
Divided by 5 895
Divided by 7 896
Divided by 5 900
Divided by 11 902
Divided by 7 903
Divided by 5 905
Divided by 5 910
Divided by 11 913
Divided by 5 915
Divided by 7 917
Divided by 5 920
Divided by 7 924
Divided by 5 925
Divided by 5 930
Divided by 7 931
Divided by 5 935
Divided by 7 938
Divided by 5 940
Divided by 5 945
Divided by 11 946
Divided by 5 950
Divided by 7 952
Divided by 5 955
Divided by 11 957
Divided by 7 959
Divided by 5 960
Divided by 5 965
Divided by 7 966
Divided by 11 968
Divided by 5 970
Divided by 7 973
Divided by 5 975
Divided by 11 979
Divided by 5 980
Divided by 5 985
Divided by 7 987
Divided by 5 990
Divided by 7 994
Divided by 5 995
Divided by 5 1000

In [ ]:
if(person=="Boy"):
    if(rich==True):
    elif(rich==False):
elif(person=="girl"):
elif(person=="friend"):