In [1]:
1+2

3

In [3]:
"Shafaq" + "Naeem"

'ShafaqNaeem'

In [4]:
1.0+3.0

4.0

In [8]:
['1','2']+['2','4']

['1', '2', '2', '4']

In [10]:
('1','2')+('2','5')

('1', '2', '2', '5')

In [12]:
{3,4,6}+{2,4,5}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [13]:
1-2

-1

In [14]:
"Shafaq" -"Naeem"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [15]:
"Shafaq"-1

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [16]:
{1,2,3}-{4,5,6}

{1, 2, 3}

In [17]:
"A"*5

'AAAAA'

In [20]:
2**2

4

In [21]:
12/3

4.0

In [22]:
12/3.0

4.0

In [23]:
12.0/3

4.0

In [24]:
11/3

3.6666666666666665

In [27]:
11%3 #modulus

2

In [28]:
18%10

8

# Comparison
==equal
>greater
<less than
>= greater than equal
<= less than equal
!= not equal
<> not equal

In [32]:
"Shagaq"=="shafaq"

False

In [31]:
"Shafaq"=="Shafaq"

True

In [33]:
'Shafaq'=="Shafaq"

True

In [34]:
2==2.0

True

In [36]:
a=2.0
b=2
a==b

True

In [37]:
2=='2'

False

In [38]:
6>10

False

In [39]:
10>10.0

False

In [40]:
10.0>10.0

False

In [41]:
10>6

True

In [42]:
10>=10

True

In [43]:
"A">"B"

False

In [45]:
"A"<"B" #ASCII value

True

In [46]:
chr(0)

'\x00'

In [47]:
chr(A)

NameError: name 'A' is not defined

In [48]:
chr(122)

'z'

In [49]:
chr(66)

'B'

In [50]:
chr(165)

'¥'

In [51]:
chr(65)

'A'

In [52]:
3<6

True

In [53]:
2<=3

True

In [54]:
2!=2

False

In [55]:
2<>3

SyntaxError: invalid syntax (<ipython-input-55-659f2d14fbe2>, line 1)

In [56]:
'shafaq'!="Shafaq"

True

In [58]:
'Shafaq'=="shafaq"

False

##assigmnent operator

In [59]:
a=1
a+=2
a+=3
a+=4
print(a)

10

In [ ]:
a=1
a=a+2
a=a+3
a=a+4

In [62]:
a=1
a*=2
a*=3
a*=4
print(a)

24

In [64]:
a="A"
a+="B"
a+="C"
print(a)

ABC

# logical operators
and=&
or=|
not!=,<>

In [70]:
user="Shafaq"
password=1234
print(user=="Shafaq")
print(password==1234)

True
True

In [71]:
True&True&True&True

True

In [72]:
True&True&False&False

False

In [73]:
True&True&False&True

False

In [74]:
False&False&False&False

False

In [79]:
a="A"
b="B"
c="C"
print((a=="A")& (b=="B") & (c=="C"))

True

In [80]:
a="A"
b="B"
c="C"
print((a=="A")|(b=="B") | (c=="C"))

True

In [91]:
user=input("User Name")
password=input("Password")
(user=="Shafaq" or user=="Admin" or user=="abcd")and password=="1234"

User NameShafaq
Password1234

True

In [95]:
"Shafaq" not "Naeem"

SyntaxError: invalid syntax (<ipython-input-95-ac159c6fd165>, line 1)

In [98]:
28&29
#11101 = 29
#11100 = 28

28

In [97]:
28|29

29

In [99]:
#xor
28^29

1

In [100]:
~29

-30

In [101]:
~-29

28

In [102]:
29<<2

#11101-29
#1110100

116

In [104]:
29>>2
00111

7

In [106]:
#11001=25
#1100100=100
#00110=6
25<<2
25>>2

6

# Membership Operators

In [112]:
names= ['Shafaq','Ammar','Abrish','Abdul']
for name in names:
    if name =='Shafaq':
        print(True)

True

#Membership

In [114]:
a= input("Enter word")
"Pakistan" in a

Enter wordPakistan

True


# Identity

In [119]:
a='5'
b=5
c=a
print(a is b)
print(a is c)

False
True

# Control flow
if else elif
if Logic: 
code run if logic True
else:
code run if logic False

In [123]:
if True:
    print("Pakistan")
else:
        print("Zindabad")

Pakistan

In [124]:
if False:
    print("Pakistan")
else:
        print("Zindabad")

Zindabad

In [126]:
if True:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
        print("Zindabad")

Pakistan
Pakistan
Pakistan
Pakistan

True_block if logic else False_block

In [127]:
"Pakistan" if True else "Zindabad"

'Pakistan'

In [128]:
"Pakistan" if False else "Zindabad"

'Zindabad'

In [ ]:
username=input("Enter Username")
password=input("Enter password")
if (((username="Shafaq") |(username="Admin"))& (password="1234")):
print("User is logged in")